<div class="row">
    <div class="col-md-12">
      <% flash.get('mensaje').forEach(function (msg) {%>
      <div class="alert alert-info" role="alert"><%=msg%></div>
      <%})%>
  
      <h2>Admin - Administradores</h2>
  
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <% administradores.forEach(admin => {%>
            <tr>
              <td scope="row"><%=admin.id%></td>
              <td scope="row"><%=admin.nombre%></td>
              <td scope="row">
                  <%if(admin.estado == true){%>
                    <p>Activo &nbsp
                    <a href="/admin/procesar-estado-admin/<%=admin.id%>" class="btn btn-primary">Desactivar</a>
                </p>
                </td>
                  <%}else{%>
                    <p>
                    No Activo &nbsp
                    <a href="/admin/procesar-estado-admin/<%=admin.id%>" class="btn btn-primary">Activar</a>
                </p>
                </td>
                  <%}%>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
  </div>